nav{
    display: flex;
    position:fixed;
    margin: 0;
    width: 100vw;
    /* height: 40px; */
    color: black;
    z-index: 1;
    top: 0;
}
nav.has-shadow{
    box-shadow: 1px 1px 20px #3D72A4;
    background-color: rgba(255, 255, 255, 0.541);
}
.logo{
    width: 40%;
    font-size: 30px;
    color: #3D72A4;
}
.logo h1{
    margin: 10px 0;
    /* margin-top: 0px 50px; */
}
.manu{
    width: 50%;
    margin-top: 10px;
}
.manu ul{
    width:100%;
    display:flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}
.manu ul li{
    font-size: 18px;
    font-weight: 500;
}
.manu ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.747);
    position: relative;
}

.manu ul li a::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    background-color: black;
    left: 0;
    bottom: -10px;    
    transition: 0.5s;
}
.manu ul li a:hover::after{
    width: 100%;
}
.manu ul li a:hover{
    color: black;
}
.hamburger-manu{
    display: none;
}
.xmark{
    font-size: 1.8rem;
    color: white;
    text-align: right;
    padding-right: 15px;
    display: none;
}
@media(max-width:800px){
    .hamburger-manu{
        display: block;
        font-size: 2rem;
        width: 10%;
        justify-content: end;
        margin-top: 20px;
    }
    .xmark{
        display:block;
    }
    .logo{
        width: 90%;
        color: black;
    }
    .manu{
        display: none;
    }
    .mobile-manu{
        background-color: black;
        position: absolute;
        display: flex;
        width: 40%;
        height: 100vh;
        top: 0;
        right: 0%;
        margin: 0;
        padding-left: 0rem;
        transition: alll 1s ease-in-out;
        z-index: 1000;
    }
    .mobile-manu ul{
        flex-direction: column;
        justify-content: start;
        align-items: left;
        left: 0;
        padding: 0;
        margin: 0;
    }
    .mobile-manu ul li{
        margin: 20px;
    }
    .mobile-manu  ul li a{
        color: rgba(255, 255, 255, 0.712);
    }
    .mobile-manu ul li a::after{
        background-color: white;
    }
    .mobile-manu ul li a:hover{
        color: white;
    }
}